@import './variables.scss';
html {
    font-family: 'Arimo', sans-serif;
    color: $text-body-color;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    font-size: 1.75rem;
    color: $heading-color;
}

h2 {
    font-weight: 700;
    font-size: 1.2rem;
    color: $heading-color;
}

.pmd-heading-meta {
    font-weight: 400;
    font-size: 1.2rem;
    color: $heading-color;
}
