// Colors
$white: #ffffff;
$grey-light: #f4f4f4;
$grey-med: #C7C7C7;
$grey-dark: #4a4a4a;
$grey-border: #D8D8D8;

$teal: #116979;
$teal-light: #80A9AD;
$teal-mid: #59696E;
$teal-dark: #2B4046;

$green: #00BB85;
$green-mid: #01BB00;
$yellow: #EDAA3B;
$red: #ED643B;

// Typography Colors
$text-body-color: $grey-dark;
$heading-color: $teal-dark;


// Miscellany
$border: 1px solid $grey-med;
