@import '../../constants/variables.scss';
.pmd-header {
    border-bottom: $border;    

    @media (min-width: 768px) {
        height: 100vh;
        border-right: $border;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 168px;
        
        @media (min-width: 768px) {
            margin-top: 32px;
        }
    }
}
