@tailwind base;

html {
    @apply font-arimo text-gray-dark;
}

h1 {
    @apply text-3xl font-bold text-teal-dark;
}

h2 {
    @apply text-xl font-bold text-teal-dark;
}

.label-floating input:placeholder-shown {
    @apply pt-4 pb-1;
}

.label-floating input:placeholder-shown ~ label {
    @apply pt-4 pb-1;
}

.label-floating input:not(:placeholder-shown) {
    padding-top: 1.4rem;
}

.label-floating input:not(:placeholder-shown) ~ label {
    font-size: 0.6rem;
    transition: all 0.2s ease-in-out;
    color: #1f9d55;
}

@tailwind components;

@tailwind utilities;
